<h2>Current Gambgame Information.</h2><br />
<% gambgame = Gambgame.current %>
How long before it ends?
<script>
  var myCountdown1 = new Countdown({time:3000,hideLine:true, rangeHi: "hour", inline: true});
</script><br />
How much would I win? <%= gambgame.prize %> Gambcoins<br />
How many are playing? <%= gambgame.current_players_number %> players<br />
If someone else comes in, how much would the prize increase ? <%= gambgame.prize %> Gambcoins<br />
        