<h2>Gambtree</h2>

<p>Hello, you were contacted by <strong><%= @message.name %></strong>, with email 
  <strong><%= @message.email %></strong>.</p>

<p><strong>Subject: </strong> <%= @message.subject %>.</p>

<p><strong>Body: </strong> <%= @message.body %>.</p>